---
layout: base/base.pug
tags: poetry
eleventyComputed:
    permalink: "| /poetry/{{title | slugify}}"
---

main#main
    h1
        a(href="/poetry/") Poetry
        span  - #{title}

    if video
        h2 Video
        iframe(width="560" height="315" src=`https://www.youtube.com/embed/${video}` title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

    | !{content}