---
layout: page.pug
---

main#main
    h1=type
    ul
        each media in NeonpastelCat
            - console.log(type, media.types)
            if media.types.includes(type)
                a(href="../" + media.types[0].toLowerCase() + "/" + media.path + "/")
                    li=media.title


