---
layout: poetry.pug
title: The Line
video: ZQaBMz8y6Ok
---

h2 Text
h3 The line
include:markdown-it 0-the-line.md

h3 Amalgamation
include:markdown-it 1-amalgamation.md

h3 Static thoughts
include:markdown-it 2-static-thoughts.md

h3 Static words
include:markdown-it 3-static-words.md
