---
layout: page.pug
permalink: "| /poetry/"
order: 2
title: Poetry
---

main#main
    h1 Poetry

    ul
        each page in collections.poetry
            a(href=page.url)
                li=page.data.title
